<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat1</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/vendor/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" href="/vendor/jquery-ui/jquery-ui.theme.min.css">
    <link rel="stylesheet" href="/vendor/jquery-ui/jquery-ui.structure.min.css">
    <script src="/vendor/jquery/jquery-1.12.4.js"></script>
    <script src="/vendor/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/js/ui.js"></script>
    {% block js %}{% endblock %}
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>